<header class="header" [ngClass]="{home__left: !isHome}">
    <div class="row">
        <nav class="header__nav">
            <div class="header__item">
                <a routerLink="offers" class="header__link" routerLinkActive="header__active">Offerte</a>
            </div>
            <div class="header__item">
                <a routerLink="cart" class="header__link" routerLinkActive="header__active">
                    Carrello
                    <span *ngIf="itemsQuantity !== 0" class="header__item-quantity">{{ itemsQuantity }}</span>
                </a>
            </div>
            <div class="header__item">
                <a routerLink="login" class="header__link" routerLinkActive="header__active">Login</a>
            </div>
        </nav>
    </div>
</header>