<header class="header" [ngClass]="{home__left: !isHome}">
  <div class="row">
    <nav class="header__nav">
      <div class="header__item" *ngIf="authenticated">
        <a routerLink="offers" class="header__link" routerLinkActive="header__active">{{ 'offers' | translate | async }}</a>
      </div>
      <div class="header__item" *ngIf="authenticated">
        <a routerLink="cart" class="header__link" routerLinkActive="header__active">
          {{ 'cart' | translate | async }}
          <span *ngIf="itemsQuantity !== 0" class="header__item-quantity">{{ itemsQuantity }}</span>
        </a>
      </div>
      <div class="header__item" *ngIf="authenticated">
        <a routerLink="/" class="header__link" (click)="onLogout()">{{ 'logout' | translate | async }}</a>
      </div>

      <div class="header__item" *ngIf="!authenticated">
        <a routerLink="/login" class="header__link" routerLinkActive="header__active">Accedi</a>
      </div>
      <div class="header__item" *ngIf="!authenticated">
        <a routerLink="/signup" class="header__link" routerLinkActive="header__active">Iscriviti</a>
      </div>
    </nav>
  </div>
</header>
