.footer {
    background-color: #424242;
    color: #fff;
    padding: 4rem 0;

    &__container {
        display: flex;
        justify-content: flex-end;
    }

    &__info {
        font-size: 1.4rem;
    }

    &__info:not(:last-child) {
        margin-right: 2rem;
    }

    &__link:link,
    &__link:visited {
      color: #fff;
      text-decoration: none;
      transition: all .2s ease-in;
    }

    &__link:hover,
    &__link:active {
      color: #4cd137;
    }
}
