.footer {
    background-color: #424242;
    color: #fff;
    padding: 4rem 0;

    &__container {
        display: flex;
        justify-content: center;
    }

    &__copyright {
        font-size: 1.4rem;
        text-align: center;
        margin-left: auto;
    }

    &__copyright span {
      display: block;
      margin-top: .5rem;
    }

    &__copyright:not(:last-child) {
        margin-right: 2rem;
    }

    &__link:link,
    &__link:visited {
      color: #fff;
      text-decoration: none;
      transition: all .2s ease-in;
    }

    &__link:hover,
    &__link:active {
      color: #4cd137;
    }

    &__lang {
      border: none;
      background-color: transparent;
      margin-left: auto;
      cursor: pointer;
      outline: none;
    }

    &__flag {
      width: 3rem;
      height: 3rem;
    }
}
