<footer class="footer" [ngClass]="{'footer__home': isHome}">
    <div class="row">
        <div class="footer__container">
            <div class="footer__copyright">
              {{ 'built_and_coded_by' | translate}}
              <a class="footer__link" href="https://rossyatsura.com/" target="t_blank">Ross Yatsura</a>
              <span>&copy; {{ 'all_rights_reserved' | translate }} {{ year }}</span>
            </div>

            <button class="footer__lang" (click)="changeLanguage()">
              <svg class="footer__flag">
                <use [attr.xlink:href]="'assets/images/flag.svg#icon-' + language"></use>
              </svg>
            </button>
        </div>
    </div>
</footer>
