<div class="login" [ngClass]="{'auth--loading': isLoading}">
    <app-loading *ngIf="isLoading"></app-loading>
    <form class="login__form" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <p class="login__title">Inserisci le tue credenziali</p>
        <div class="login__group">
            <label for="email" class="login__label">Email</label>
            <input type="text" class="login__input" id="email" formControlName="email" placeholder="inserisci">
        </div>
        <div class="login__group">
            <label for="password" class="login__label">Password</label>
            <input type="password" id="password" class="login__input" formControlName="password" placeholder="inserisci">
        </div>
        <span class="login__error" *ngIf="error">{{ error }}</span>
        <button class="login__btn" [disabled]="authForm.invalid">{{ isLogin ? 'Accedi' : 'Iscriviti'}}</button>
        <div class="login__help">
            <a routerLink="/signup" class="login__link" *ngIf="isLogin">Non hai un account?</a>
            <a routerLink="/login" class="login__link" *ngIf="!isLogin">Hai già un account?</a>
        </div>
    </form>
</div>
<app-footer></app-footer>
