<div class="login" [ngClass]="{'auth--loading': isLoading}">
    <app-loading *ngIf="isLoading"></app-loading>
    <form class="login__form" [formGroup]="authForm" (ngSubmit)="onSubmit()" *ngIf="!isLoading">
        <p class="login__title">{{ 'enter_your_credentials' | translate }}</p>
        <div class="login__group">
            <label for="email" class="login__label">{{ 'email' | translate }}</label>
            <input type="text" class="login__input" id="email" formControlName="email" [placeholder]="'enter' | translate">
        </div>
        <div class="login__group">
            <label for="password" class="login__label">{{ 'password' | translate }}</label>
            <input type="password" id="password" class="login__input" formControlName="password" [placeholder]="'enter' | translate">
        </div>
        <div class="login__group" *ngIf="!isLogin">
          <label for="repeatPassword" class="login__label">{{ 'repeat_password' | translate }}</label>
          <input type="password" id="repeatPassword" class="login__input" formControlName="repeatPassword" [placeholder]="'enter' | translate">
      </div>
        <span class="login__error" *ngIf="error">{{ error | translate }}</span>
        <button class="login__btn" [disabled]="authForm.invalid">{{ isLogin ? ('sign_in' | translate) : ('sign_up' | translate)}}</button>
        <div class="login__help">
            <a routerLink="/signup" class="login__link" *ngIf="isLogin">{{ 'dont_have_an_account' | translate }}</a>
            <a routerLink="/login" class="login__link" *ngIf="!isLogin">{{ 'already_have_an_account' | translate }}</a>
        </div>
    </form>
</div>
<!-- <app-footer></app-footer> -->
