<div class="offer">
    <div class="offer__img"  [defaultImage]="defaultImage" [lazyLoad]="'/assets/images/offer-' + id + '.jpg'" [ngStyle]="{
        backgroundSize: 'cover'
    }"></div>
    <div class="offer__description">
        <p class="offer__city">{{ city }}</p>
        <p class="offer__hotel">{{ hotel }}</p>
        <p class="offer__price">{{ price }}&euro;</p>
        <button class="offer__add" (click)="onClick()" [ngClass]="{offer__added: added}">
            <span *ngIf="!added">{{ 'add_to_cart' | translate }}</span>
            <span *ngIf="added">{{ 'added_to_cart' | translate }}</span>
        <svg class="offer__icon">
            <use *ngIf="!added" href="assets/images/sprite.svg#icon-add"></use>
            <use *ngIf="added" href="assets/images/sprite.svg#icon-done"></use>
        </svg>
        </button>
    </div>
</div>
