*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    color: #424242;
}

.row {
    max-width: 114rem;
    margin: 0 auto;
}

$phone-s: 20em;
$phone-l: 23.4375em;

@media(max-width: $phone-s) {
    .row {
        padding: 0 1rem;
    }
}

@media(max-width: 114em) {
  .row {
      padding: 0 1rem;
  }
}

@media(max-width: 27.5em) {
  .row {
    padding: 0 .5rem;
  }
}
