<div class="home">
  <div class="row">
    <div class="home__container">
      <h1 class="home__title">{{ 'welcome_to' | translate }} LuxuryVoyage</h1>
      <button class="home__btn">
        <a routerLink="login" class="home__link">{{ 'sign_in' | translate }}</a>
      </button>
      <button class="home__btn-primary">
        <a routerLink="signup" class="home__link">{{ 'sign_up' | translate }}</a>
      </button>
      <p class="home__description">
        {{ 'you_must_be_a_member_of_our_community_to_explore_exclusive_offers' | translate }}.</p>
    </div>
  </div>
</div>
