<div class="home">
    <div class="home__container">
        <h1 class="home__title">Benvenuto in LuxuryVoyage</h1>
        <!-- <button class="home__btn">
            <a routerLink="offers" class="home__link">Visualizza Offerte</a>
        </button> -->
        <button class="home__btn">
          <a routerLink="login" class="home__link">Accedi</a>
        </button>
        <button class="home__btn-primary">
          <a routerLink="signup" class="home__link">Iscriviti</a>
        </button>
        <p class="home__description">Per vedere le esclusive offerte deve far parte della nostra community.</p>
    </div>
</div>
